.App {
  text-align: center;
}

.Text{
  color: rgb(18, 85, 94);
  margin: 10px;
}

.App-cola{
  flex-direction: column;
  text-align: left;
}

.App-Routes{
  font-size: 20px;
  flex: 1;
  text-align: right;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: inline-block;
  vertical-align: top;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title{
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
